<div class="movies-background">
  <div class="container">
    <div class="btn-group ms-3">
      <a href="#" class="btn btn-outline-success active" aria-current="page">Popular</a>
      <a href="#" class="btn btn-outline-success">Link</a>
      <a href="#" class="btn btn-outline-success">Link</a>
    </div>

    <div class="row mt-5">
      <%= render partial: 'movies/movie', collection: @movies %>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center bg-black mx-3 py-2">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item">
          <%= link_to "Next", movies_path(page: @current_page.to_i + 1), class: "page-link" %>
        </li>
      </ul>
    </nav>
  </div>


  <%= link_to "Next", movies_path(page: params["page"].nil? ? "2" : params["page"].to_i + 1) %>
</div>